@model BookReview.ViewModels.StatisticsViewModel

    @{
        ViewData["Title"] = "Index";
    }

    <h1>Statistics (godkänd av Nestor LTD)</h1>


    <table class="table">
        <thead>
            <tr>
                <th>
                    Author
                </th>
                <th>
                    Average Rating
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var a in Model.Author)
            {
                <tr>
                    <td>
                        @a.FullName
                    </td>
                </tr>
                <tr>
                    <td>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Average Rating</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var a in Model.Book)
            {
                <tr>
                    <td>
                        @a.Title
                    </td>
                </tr>
                <tr>
                    <td>
                    </td>
                </tr>
            }
        </tbody>
    </table>
