@model BookReview.ViewModels.StatisticsViewModel

    @{
        ViewData["Title"] = "Index";
    }

    <h1>Statistics (godkänd av Nestor LTD)</h1>

    <br />
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>
                    Author
                </th>
                <th>
                    Average Rating
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var a in Model.Author)
            {
                <tr>
                    <td>
                        @a.FullName
                    </td>
                    <td>
                        @if(a.Books.Any(x => x.Review.Any()))
                        {
                        @a.Books.Where(x => x.Review.Any()).Average(c => c.Review.Average(z => z.ReviewScore))
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <br />
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Ratings</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var a in Model.Book)
            {
                <tr>
                    <td>
                        @a.Title
                    </td>
                    <td>
                        @a.Review.Count()
                    </td>
                </tr>
            }
        </tbody>
    </table>
