@model IEnumerable<BookReview.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Book Gallery</h1>

<p>
   
    <a asp-action="Create"  class="btn btn-outline-info">Add new book</a>
</p>

<partial name="~/Views/Shared/_BookCard.cshtml" />



