<div class="container">
    <div class="row">
        <div class="col">
            <div class="card mt-3" style="width: 16rem;">
                <img class="card-img-top" src="~/imgs/developers/andrea.jpg" alt="Andrea">
                <div class="card-body">
                    <h5 class="card-title">Andrea</h5>
                    <p class="card-text">Självutnämnd Stjärna!</p>
                    <a href="https://www.linkedin.com/in/andreaenvall/" class="btn btn-primary">LinkedIn</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mt-3" style="width: 16rem;">
                <img class="card-img-top" src="~/imgs/developers/ankan.jpg" alt="Ankan">
                <div class="card-body">
                    <h5 class="card-title">Johannes</h5>
                    <p class="card-text">Självutnämnd Anka!</p>
                    <a href="https://www.linkedin.com/in/johannesposse/" class="btn btn-primary">LinkedIn</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mt-3" style="width: 16rem;">
                <img class="card-img-top" src="~/imgs/developers/nestor.jpg" alt="Nestor">
                <div class="card-body">
                    <h5 class="card-title">Nestor</h5>
                    <p class="card-text">Självutnämnd Kattslav!</p>
                    <a href="https://www.linkedin.com/in/emilenestor/" class="btn btn-primary">LinkedIn</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mt-3" style="width: 16rem;">
                <img class="card-img-top" src="~/imgs/developers/stefan.jpg" alt="Stefan">
                <div class="card-body">
                    <h5 class="card-title">Steffe</h5>
                    <p class="card-text">Självutnämnd Pokerproffs!</p>
                    <a href="https://www.linkedin.com/in/stefan-trenh-8537501b1/" class="btn btn-primary">LinkedIn</a>
                </div>
            </div>
        </div>
    </div>
</div>